<p>Dear {{ user.username }},</p>
<p>To set your app password <a href="{{ url_for('auth.set_app_password', token=token, _external=True) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.set_app_password', token=token, _external=True) }}</p>
<p>If you have not submitted a request to set an app password, ignore this message.</p>
<p>Sincerely,</p>
<p>The PyIoT Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>
